@mixin generate-heading-tags($heading-tags: var(headingTags)) {
    @each $key, $value in $heading-tags {  //h1 2.5rem
        #{$key}, .#{$key} {
            font-size: $value;
            font-weight: 500;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    }
};