.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: all .3s ease;

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 20rem;

        @media screen and (min-width: var(grid-breakpoint-desktop)) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__brand {
        text-decoration: none;
        color: var(base-yellow, $colors);
        justify-content: center;
        align-items: center;

        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;

        &:hover {
            color: var(base-white, $colors);
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: var(grid-breakpoint-desktop)) {
            display: flex;
            flex-direction: row;
        }
    }

    &__item {
        text-align: left;
    }

    &__link {
        color: var(base-gray, $colors);
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: block;
        line-height: 1rem;
        padding: .5rem;
        text-decoration: none;

        &:hover {
            color: var(base-white, $colors);
        }
    }

    &__hamburger {
        &--checkbox {
            display: none;
    
            &:checked + .nav__list {
                display: flex;
                width: 10rem;
            }
        }
    
        &--label {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            height: 1rem;
            padding: .5rem 1rem;
            width: 1rem;
            border: 1px solid var(base-gray, $colors);
            border-radius: .25rem; 
        
            @media screen and (min-width: var(grid-breakpoint-desktop)) {
                display: none;
            }
        }
    
        &--line {
            background: var(nav-linkColor, $colors);
            display: block;
            height: 2px;
            width: 1.2rem;
            box-sizing: content-box;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        
        &--link {
            text-decoration: none;
            color: var(base-muted, $colors);
            
            &:hover {
                color: var(base-yellow, $colors);
            }
        }
    }
}