$colors: (
    base: (
        "white": #FFFFFF,
        "light":  #f8f9fa,
        "gray": #c0c0c0,
        "muted": #6c757d,
        "darkGray": #343a40,
        "black": #000000,
        "yellow": #fdcc52,
        "red": #dc3545,
    ),
    icons: (
        "twitter": #3e9cd6,
        "facebook": #395999,
        "icons": #b12e5d,
        "googleplus": #de4b38,
    ),
    nav: (
        navBackgroundColor: #1eff00,
        navShadowColor: #AAA,
        linkColor: #222,
        linkHoverColor: #000,
        linkHoverBackgroundColor: #EFEFEF,
    ),
);