$config: (
    grid: (
        size: 12,  //hány oszlop lehet egy sorban
        breakpoint: (
            desktop: 992px  //azért px-t használunk, mert a "régi" rendszert használjuk most, a @import-ot
        )
    ),
    container: (
        classname: container,  //ezt az osztálynevet fogjuk használni, amikor a container-t legeneráltatjuk
        maxWidth: (
            mobile: 960px,
            desktop: 1280px
        ),
        padding: 15px,
    ),
    column: (
        classname: col,
        postfix: (
            desktop: lg  //col-lg-3
        ),
        padding: 15px,
    ),
    spacing: (
        auto: auto,
        1: 0.25rem,
        2: 0.5rem,
        3: 1rem,
        4: 1.5rem,
        5: 3rem,
        6: 5rem,
        7: 10rem,
    ),
    align: (
        left: left,
        center: center,
        right: right,
    ),
    fontWeight: (
        light: 200,
        normal: 400,
        bold: 800,
    ),
    display: (
        fontSize: (
            1: 6rem,
            2: 5.5rem,
            3: 4.5rem,
            4: 3.5rem,
        ),
    ),
    flex: (
        direction: (
            row: row,
            column: column,
        ),
    ),
);